In [1]:
import pandas as pd
import numpy as np
import csv as csv
import math
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report, accuracy_score
from sklearn.cross_validation import train_test_split
import time
from datetime import date
import datetime
%matplotlib inline

In [2]:
challenges = pd.read_csv('challenges.csv', header=0)  
print challenges.shape
print challenges.columns.values
for cl in challenges.columns.values:
    print cl,challenges[cl].isnull().sum()
    
challenges.contest_id.value_counts()
challenges.head()

(2865, 7)
['challenge_id' 'contest_id' 'domain' 'subdomain' 'difficulty'
 'solved_submission_count' 'total_submissions_count']
challenge_id 0
contest_id 0
domain 1576
subdomain 1576
difficulty 0
solved_submission_count 0
total_submissions_count 0

,challenge_id,contest_id,domain,subdomain,difficulty,solved_submission_count,total_submissions_count
0,18e0a2dad5e127d6,c8ff662c97d345d2,Artificial Intelligence,Bot Building,0.978261,319,655
1,0251520ace81bc57,c8ff662c97d345d2,Algorithms,Strings,0.894473,765,1267
2,425f241df843cd89,c8ff662c97d345d2,Algorithms,Strings,0.908853,1247,1864
3,970eca328814a522,c8ff662c97d345d2,Algorithms,Strings,0.902722,453,835
4,46592c29655cfc5e,c8ff662c97d345d2,Algorithms,Strings,0.900000,312,1363

In [3]:
np.unique(challenges.challenge_id).shape

(2228L,)

In [4]:
cP = challenges.groupby(["challenge_id","domain"]).size().reset_index(name="Times")\
        .pivot(index='challenge_id', columns='domain', values='Times').reset_index().drop(["challenge_id"],axis=1)
print cP.shape
cP.head()

(1289, 16)

domain,Algorithms,Artificial Intelligence,C++,Data Structures,Databases,Distributed Systems,Functional Programming,Java,Linux Shell,Mathematics,Python,Regex,Ruby,SQL,Security,Tutorials
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
cP2 = challenges.groupby(["challenge_id","subdomain"]).size().reset_index(name="Times")\
        .pivot(index='challenge_id', columns='subdomain', values='Times').reset_index().drop(["challenge_id"],axis=1)
print cP2.shape
cP2.head()

(1289, 97)

subdomain,10 Days of Statistics,30 Days of Code,A* Search,Ad Hoc,Advanced,Advanced Join,Advanced Select,Aggregation,Algebra,Alpha Beta Pruning,...,Sorting,Stacks,Statistics and Machine Learning,Strings,Terminology and Concepts,Text Processing,Trees,Trie,Warmup,XML
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
cP2 = challenges.groupby(["challenge_id","subdomain"]).size().reset_index(name="Times")\
        .pivot(index='challenge_id', columns='subdomain', values='Times').reset_index().drop(["challenge_id"],axis=1)
print cP2.shape
cP2.head()

(1289, 97)

subdomain,10 Days of Statistics,30 Days of Code,A* Search,Ad Hoc,Advanced,Advanced Join,Advanced Select,Aggregation,Algebra,Alpha Beta Pruning,...,Sorting,Stacks,Statistics and Machine Learning,Strings,Terminology and Concepts,Text Processing,Trees,Trie,Warmup,XML
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
newC = challenges.groupby(["challenge_id"]).size().reset_index(name="Times")
print newC.shape
newC.head()

(2228, 2)

       challenge_id  Times
0  00014449a0541424      2
1  0008acfcc2194c4b      1
2  004fcad83342940f      1
3  00557525d18c8d46      1
4  005d4ee9b6d9c993      3

In [8]:
c = pd.concat([newC,cP,cP2], axis=1)
print c.shape
c.tail()

(2228, 115)

,challenge_id,Times,Algorithms,Artificial Intelligence,C++,Data Structures,Databases,Distributed Systems,Functional Programming,Java,...,Sorting,Stacks,Statistics and Machine Learning,Strings,Terminology and Concepts,Text Processing,Trees,Trie,Warmup,XML
2223,ffa10a5ee5a3afe1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2224,ffc7defbbd656390,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2225,ffd5ad5244082694,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2226,fff72beb69e825fe,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2227,fff8a2f3589cb399,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
challengesDf = c.fillna(0)
print challengesDf.shape
challengesDf.head()

(2228, 115)

,challenge_id,Times,Algorithms,Artificial Intelligence,C++,Data Structures,Databases,Distributed Systems,Functional Programming,Java,...,Sorting,Stacks,Statistics and Machine Learning,Strings,Terminology and Concepts,Text Processing,Trees,Trie,Warmup,XML
0,00014449a0541424,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0008acfcc2194c4b,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,004fcad83342940f,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00557525d18c8d46,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,005d4ee9b6d9c993,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
challengesDf = challengesDf.drop(['challenge_id'],axis=1)
challengesDf.head()

,Times,Algorithms,Artificial Intelligence,C++,Data Structures,Databases,Distributed Systems,Functional Programming,Java,Linux Shell,...,Sorting,Stacks,Statistics and Machine Learning,Strings,Terminology and Concepts,Text Processing,Trees,Trie,Warmup,XML
0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
from sklearn.metrics import  pairwise

challengeValues = challengesDf.values
challengesDistances = pairwise.linear_kernel(challengeValues)

In [12]:
submissions = pd.read_csv('submissions.csv', header=0)  
print submissions.shape
print submissions.columns.values
for cl in submissions.columns.values:
    print cl,submissions[cl].isnull().sum()
submissions.contest_id.value_counts()
submissions.head()

(286064, 6)
['hacker_id' 'contest_id' 'challenge_id' 'language' 'solved' 'created_at']
hacker_id 0
contest_id 0
challenge_id 0
language 0
solved 0
created_at 0

,hacker_id,contest_id,challenge_id,language,solved,created_at
0,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,2011-08-07 00:36:53 UTC
1,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,2011-08-07 00:38:45 UTC
2,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,2011-08-07 00:43:49 UTC
3,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,2011-08-07 00:52:34 UTC
4,56d47667c6a9242e,c8ff662c97d345d2,6d95afeb4d968b91,java,0,2011-08-07 00:56:52 UTC

In [13]:
g = submissions.groupby(["hacker_id","contest_id"]).size().reset_index(name="Times")
g.head()
# dummiescontest_id =  pd.get_dummies(g["contest_id"],prefix="contest_id")
# dummiescontest_id.shape

          hacker_id        contest_id  Times
0  00004cf8b853ad0d  c8ff662c97d345d2     15
1  00010020d9cd62a0  c8ff662c97d345d2     43
2  000c08c3a6f1ee15  c8ff662c97d345d2      8
3  000d0dde89911c9f  c8ff662c97d345d2      4
4  000d3364ba25d742  29602fc1cf9ce49b     10

In [14]:
submissions.groupby(["hacker_id","contest_id"]).size().unstack(level=-1).head()

contest_id,001180f6b20ff5bf,005ad8d849ec3b61,0111951b66c229a0,0349da21647befb6,03c2907b4341b25b,03cd96b61b84afd8,04b85091aa5c336b,07ed069995630442,0920a1b49d4d48bf,0a30aa1cdc82cf76,...,f3deaec0ba0b6d9f,f42de4d1be20c775,f49649d8f96d6857,f4a14a08e61e9bdb,f6be3d3c494c1623,f783abc007fbad1c,f924719bae7801af,f9bbe5c94a248206,fc7d202046ab3739,fc9dfb49eecb191d
hacker_id,,,,,,,,,,,,,,,,,,,,,
00004cf8b853ad0d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00010020d9cd62a0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000c08c3a6f1ee15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000d0dde89911c9f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000d3364ba25d742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
gP = submissions.groupby(["hacker_id","contest_id"]).size().reset_index(name="Times")\
        .pivot(index='hacker_id', columns='contest_id', values='Times').reset_index().drop(["hacker_id"],axis=1)
gP = gP.rename(columns = lambda x : 'contest_id_' + x)
print gP.shape
gP.head()

(10000, 254)

contest_id,contest_id_001180f6b20ff5bf,contest_id_005ad8d849ec3b61,contest_id_0111951b66c229a0,contest_id_0349da21647befb6,contest_id_03c2907b4341b25b,contest_id_03cd96b61b84afd8,contest_id_04b85091aa5c336b,contest_id_07ed069995630442,contest_id_0920a1b49d4d48bf,contest_id_0a30aa1cdc82cf76,...,contest_id_f3deaec0ba0b6d9f,contest_id_f42de4d1be20c775,contest_id_f49649d8f96d6857,contest_id_f4a14a08e61e9bdb,contest_id_f6be3d3c494c1623,contest_id_f783abc007fbad1c,contest_id_f924719bae7801af,contest_id_f9bbe5c94a248206,contest_id_fc7d202046ab3739,contest_id_fc9dfb49eecb191d
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
gP2 = submissions.groupby(["hacker_id","challenge_id"]).size().reset_index(name="Times")\
        .pivot(index='hacker_id', columns='challenge_id', values='Times').reset_index().drop(["hacker_id"],axis=1)
gP2 = gP2.rename(columns = lambda x : 'challenge_id_' + x)
print gP2.shape
gP2.head()

(10000, 2156)

challenge_id,challenge_id_00014449a0541424,challenge_id_0008acfcc2194c4b,challenge_id_004fcad83342940f,challenge_id_00557525d18c8d46,challenge_id_005d4ee9b6d9c993,challenge_id_006551bddafadcf6,challenge_id_006f898cfac64dc4,challenge_id_0085ebe963e41545,challenge_id_009eebdd1046aedd,challenge_id_00aec2c86c963f0b,...,challenge_id_ff363c702e7af3a3,challenge_id_ff4ded4f221d0b9d,challenge_id_ff665f6ac93c3e02,challenge_id_ff883052c3a1d18b,challenge_id_ffa0445299656a88,challenge_id_ffa10a5ee5a3afe1,challenge_id_ffc7defbbd656390,challenge_id_ffd5ad5244082694,challenge_id_fff72beb69e825fe,challenge_id_fff8a2f3589cb399
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN

In [17]:
gP3 = submissions.groupby(["hacker_id","language"]).size().reset_index(name="Times")\
        .pivot(index='hacker_id', columns='language', values='Times').reset_index().drop(["hacker_id"],axis=1)
    
print gP3.shape
gP3.head()

(10000, 47)

language,"[""html"", ""js"", ""css""]",ada,bash,brainfuck,c,clisp,clojure,coffeescript,cpp,cpp14,...,ruby,rust,sbcl,scala,smalltalk,swift,text,text_pseudo,tsql,visualbasic
0,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,69.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN

In [18]:
newT = submissions.groupby(["hacker_id"]).size().reset_index(name="Times")
print newT.shape
newT.head()

(10000, 2)

          hacker_id  Times
0  00004cf8b853ad0d     15
1  00010020d9cd62a0     43
2  000c08c3a6f1ee15      8
3  000d0dde89911c9f      4
4  000d3364ba25d742     89

In [19]:
t = pd.concat([newT,gP,gP2,gP3], axis=1)
print t.shape
t.tail()

(10000, 2459)

,hacker_id,Times,contest_id_001180f6b20ff5bf,contest_id_005ad8d849ec3b61,contest_id_0111951b66c229a0,contest_id_0349da21647befb6,contest_id_03c2907b4341b25b,contest_id_03cd96b61b84afd8,contest_id_04b85091aa5c336b,contest_id_07ed069995630442,...,ruby,rust,sbcl,scala,smalltalk,swift,text,text_pseudo,tsql,visualbasic
9995,ffcae6424b43fbb2,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,ffd6eaaf3d7138e0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,ffe0dff4db6deb6e,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,ffe228e656e5cbbd,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,fffcfd13f3e0969d,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
usersDf = t.fillna(0)
print usersDf.shape
usersDf.head()

(10000, 2459)

,hacker_id,Times,contest_id_001180f6b20ff5bf,contest_id_005ad8d849ec3b61,contest_id_0111951b66c229a0,contest_id_0349da21647befb6,contest_id_03c2907b4341b25b,contest_id_03cd96b61b84afd8,contest_id_04b85091aa5c336b,contest_id_07ed069995630442,...,ruby,rust,sbcl,scala,smalltalk,swift,text,text_pseudo,tsql,visualbasic
0,00004cf8b853ad0d,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00010020d9cd62a0,43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000c08c3a6f1ee15,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000d0dde89911c9f,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,000d3364ba25d742,89,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0

In [21]:
np.unique(submissions.hacker_id).shape

(10000L,)

In [22]:
# result = pd.merge(submissionsPre, challenges, on=['challenge_id'])

In [23]:
def dummy(result,domain):
    dummiesdomain =  pd.get_dummies(result[domain],prefix=domain)
    result = pd.concat([result, dummiesdomain], axis=1)
    return result

In [24]:
usersDf = usersDf.drop(['hacker_id'],axis=1)
usersDf.head()

,Times,contest_id_001180f6b20ff5bf,contest_id_005ad8d849ec3b61,contest_id_0111951b66c229a0,contest_id_0349da21647befb6,contest_id_03c2907b4341b25b,contest_id_03cd96b61b84afd8,contest_id_04b85091aa5c336b,contest_id_07ed069995630442,contest_id_0920a1b49d4d48bf,...,ruby,rust,sbcl,scala,smalltalk,swift,text,text_pseudo,tsql,visualbasic
0,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,89,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0

In [25]:
from sklearn.metrics import  pairwise

usersValues = usersDf.values
distancesUsers = pairwise.linear_kernel(usersValues)

In [26]:
distancesUsers = k
distancesUsers.shape

(10000L, 10000L)

In [27]:
np.argmax(distancesUsers[0])

3673

In [28]:
g=0
index = 0
for i,val in enumerate(distancesUsers[0]):
    if g<val:
        g=val
        index = i
        
print g,index

30150.0 3673

In [29]:
k[0][3673]

30150.0

In [30]:
vizinho=sorted(set([ (k.replace('challenge_id_',""),v) for k,v in usersDf.filter(regex=("challenge_id_.*")).iloc[3673].to_dict().items() if v>0]),key=lambda x:x[1],reverse=True)
eu = sorted(set([ (k.replace('challenge_id_',""),v) for k,v in usersDf.filter(regex=("challenge_id_.*")).iloc[0].to_dict().items() if v>0]),key=lambda x:x[1],reverse=True)

In [36]:
[(i,v) for i,v in usersDf.filter(regex=("challenge_id_.*")).iloc[0].to_dict().items() if v>0]

[('challenge_id_366684b779574e86', 4.0),
 ('challenge_id_ab1bdad8537b85cd', 2.0),
 ('challenge_id_c3647a9292e553b9', 2.0),
 ('challenge_id_08a5f5f58fe5f586', 5.0),
 ('challenge_id_3411e4e6add2b8e4', 2.0)]

In [32]:
intersect = []
disjoint = []
eu_copy = list(eu)
for k,v in vizinho:
    has = False
    for i,(k2,v2) in enumerate(eu):
        if k==k2:
            intersect.append((k,v+v2))
            has =True
            eu_copy.pop(i)
    if not has:
        disjoint.append((k,v))
disjoint = disjoint+eu_copy

In [33]:
intersect

[]

In [40]:
disjoint[0:5]

[('10542da18734d8d9', 161.0),
 ('9d66e1c6d55a467c', 120.0),
 ('f55da2e8f71e3780', 91.0),
 ('85fc279a635f0e92', 80.0),
 ('f4961978ceb1d212', 68.0)]

In [39]:
challengesDistances.shape

(2228L, 2228L)

In [47]:
newC.loc[newC['challenge_id']=='10542da18734d8d9'].index.tolist()[0]

142

In [60]:
np.argsort(-challengesDistances[142])[0:5]

array([ 294, 1265, 1831, 1669, 1427], dtype=int64)

In [61]:
newC.iloc[[294,1265,1831,1669, 1427]].challenge_id.tolist()

['22948b6ee6a5aea3',
 '8f3341271dd8e752',
 'd19ad2969d414ae7',
 'c025bf2a26f450c1',
 'a297fc96a4c01bc7']